<h1>Welcome, <%= @user.name %></h1>
<br>
<h3>Pick a location to see your favorite restaurants or create a new one below!</h3>
<br><br>
<form action="/restaurants/new"><button type="submit">Add a New Restaurant/Location</button></form>
<br><br><br>
<a href="/logout"><button type="submit">Logout</button></a>