<h1>Welcome, <%= @user.name %></h1>
<br>
<h3>Pick a location to see your favorite restaurants:</h3>
<br>
<form action="/restaurants" method="post">
    <select name="restaurant[location_id]">
        <% @user.locations.each do |location| %>
            <option><%= location.name %></option>
        <% end %>
    </select>
    <button type="submit">See Restaurants</button>
</form>
<br><br><br>
<a href="/logout"><button type="submit">Logout</button></a>