<% if flash.has?(:message) %>
    <%= flash[:message] %>
    <br><br>
<% end %>

<form action="/signup" method="post">
    Name: <input type="text" name="user[name]">
    Username: <input type="text" name="user[username]">
    Password: <input type="password", name="user[password]">
    <button type="submit">Create Account</button>
</form>
<br>
<a href="/"><button>Back to Log In Page</button></a>