<% if flash.has?(:message) %>
    <%= flash[:message] %>
<% end %>

<form action="/restaurants" method="post">
    <h3>
        Restaurant Name: <input type="text" name="restaurant[name]">
        Type of Food: <input type="text" name="restaurant[food_type]">
    </h3>
    <br>
    <h3>City to Add Restaurant to: <input type="text" name="location[name]"></h3>
    <br>
    <button type="submit">Add New Restaurant</button>
</form>

