<% if flash.has?(:message) %>
    <%= flash[:message] %>
<% end %>

<h2>Edit Location</h2>
<form action="/locations/<%= @location.id %>" method="POST">
    <input type="hidden" id="hidden" name="_method" value="PATCH">
    <h3>Name: <input type="text" name="location[name]" value="<%= @location.name %>"></h3>
    <br>
    <button type="submit">Update Location</button>
</form>