<form action="/locations" method="post">
    <h3>Location Name: <input type="text" name="location[name]"></h3>
    <%# <h3>
        Restaurant Name: <input type="text" name="restaurant[name]">
        Type of Food: <input type="text" name="restaurant[food_type]">
    </h3> %>
    <br>
    <button type="submit">Add New Location</button>
</form>
